<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bucketlistsequel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16ADAD261D88EA7600C1CDB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16ADAD3D1D88EA7700C1CDB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16ADAD481D88EA7700C1CDB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
